
/*Header*/

*{
  margin: 0; /*Tirando as margens dos elementos*/
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header{
  background-color: rgba(117, 117, 117, 0.491);
  width: 100%;
  max-width: 1600px;
  height: 100px;
  justify-content: space-around; /*Estilização do header*/
  align-items: center;
  display: flex;
}
header:hover{
  cursor: default;
}
#logo{
  color: rgba(58, 0, 0, 0.884);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
nav{
  display: flex;
  justify-content: space-around;
}
nav a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-inline: 30px;
  font-weight: 700;
}
nav a:hover{
  color: white;
  transition: 0.3s all ease;
}

/*Main*/

main{
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin-top: 30px; /*Definindo as propriedades do corpo da minha página*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
article{
  display: flex;
  height: 400px;
  width: 50%;
  justify-content: center;   
  align-items: center;
  background-color: rgb(137, 139, 137);
  color: white;
}
section{
  display: flex;
  height: 400px;
  width: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgb(118, 118, 123);
  color: white;
} 

div a{
  text-decoration: none;
  color: black;
}

#nav-int{
  display: flex;
  flex-direction: column;

}
#nav-int a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-inline: 30px;
  font-weight: 700;
}

#nav-int a:hover{
  color: white;
  transition: all 0.3s ease;
}
