
/*Header*/

*{
  margin: 0; /*Tirando as margens dos elementos*/
  padding: 0;
  box-sizing: border-box; /*Tamanho das boxes serão apenas seu espaço interno, sem contar bordas e margins*/
  font-family: "Poppins", sans-serif; /*Fonte padrão do projeto*/
  list-style: none;  /*Remove o marcador da lista por padrão*/
  text-decoration: none; /*Remove a underline de links*/
}

:root{ /*Criando as variáveis de cor*/
  --red:red;
  --white:#fff;
  --dark:#1e1c2a;
}

body{
  color: var(--dark); /*Cor primária para todo o corpo*/
  background-color: var(--white) ;/*Cor do fundo branca*/
}
.navigation{ /*Estilizando a barra superior de navegação da página*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:18px 40px; /*Criando uma margin top/bottom de 18px e left/right de 40px*/
  box-shadow: 0 0.1rem 0.5rem #ccc;
  width: 100%;
  background: var(--white);
  transition: 0.5s all;
}
.navigation .logo{ /*Estilizando o logotipo na barra superior*/
  color: var(--dark);
  font-size: 1.7rem;
  font-weight: 600;
}
.logo span{
  color:var(--red);
}

.navigation ul{
  display: flex;
  align-items: center;
}